@font-face {
    font-family: 'TR2N';
    src: url('/font/TR2N.woff') format('woff')
}

.nav-container {
    background-image: url('/images/spaceBck.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 120px;
    padding-top: 40px;
    margin-bottom: 100px;
}

.nav-color-overlay{
    background: linear-gradient(180deg, rgba(255,100,255,0.7) 0%, rgb(51, 204, 255,0.7) 50%, rgba(0,0,0,1) 100%);
    margin-top: -40px;
    position: absolute;
    height: 160px;
    width: 100%;
}

.nav-title {
    font-family: 'TR2N';
    font-weight: normal;
    font-style: normal;
    text-align: Center;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 25px;
    color: rgba(255,255,255,0);
    -webkit-text-stroke-width: 1px;
    animation: fadeIn ease 3s forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    0% {
        -webkit-text-stroke-color: rgba(255,255,255,0);
    }
    50% {
        -webkit-text-stroke-color: rgba(255,255,255,0.5);
    }
    
    100% {
        -webkit-text-stroke-color: rgba(255,100,255,1);
    }
}

.nav-link-container {
    color: white;
    font-size: 12px;
    
    text-align: center;
}


ul#menu li {
    display: inline;
    padding-right: 50px;
}

.nav-link-container ul{
    list-style-type: none;
}

#Menu1 {
    color: rgba(0,0,0,0);
    animation: fadeIn2 ease 2s forwards;
    animation-delay: 3.5s;
}

#Menu2 {
    color: rgba(0,0,0,0);
    animation: fadeIn2 ease 2s forwards;
    animation-delay: 4.0s;

}

#Menu3 {
    color: rgba(0,0,0,0);
    animation: fadeIn2 ease 2s forwards;
    animation-delay: 4.5s;
    

}
li span{
     color:black;
}

.nav-status{
    color: red;
    font-size: 35px;
    margin-top: 30px;
}

@keyframes fadeIn2 {
    0% {
     color: rgba(0,0,0,0);  
    }
    100% {
    color: rgba(255,255,255,1);
    }
}

.m-title{
    color: rgba(0,0,0,0);
    animation: fadeMtitle ease-in 1.5s forwards;
    animation-delay: 1.8s;
    font-size: 15px;
}

@keyframes fadeMtitle {
    0% {
        color: rgba(0,0,0,0);
    }
    100% {
        color: rgba(255,100,255,1)
    }
}


@Media screen and (max-width: 700px) {
    .nav-link-container {
        
        font-size: 12px;
        text-align: left;

        
    }
    ul#menu li {
        display: block;
        padding-bottom: 10px;
    }

    .m-title{
        font-size: 14px;
    }
    .nav-title {
        font-size: 30px;
    
    }

}