.nav-container {
    background-image: url('https://userscontent2.emaze.com/images/f3632f55-0a0f-4461-acdd-7f56eea7c879/862a8b9f6c8c1e1b758866a1f0e4e61e.jpeg');
    height: 120px;
    color: white;
    text-align: Center;
    font-size: 40px;
    padding-top: 40px;
    
}

.nav-title {

}