@font-face{
    font-family: 'TerminatorRealNFI';
    src: url('/font/TerminatorRealNFI.woff') format('woff')
}

body {
    margin: 0;
    font-family: 'TerminatorRealNFI';
    font-weight: normal;
    font-style: normal;
    background-color: black;
    background-image: url("https://www.transparenttextures.com/patterns/grid-me.png");
}

input{
    font-family: 'TerminatorRealNFI';
    font-weight: normal;
    font-style: normal;
}

button{
    font-family: 'TerminatorRealNFI';
    font-weight: normal;
    font-style: normal;

}