.footer{
    color: white;
    text-align: center;
    margin-top: 20px;
    padding-top: 5px;
}
.footer-link {
    padding-top: 5px;
}
.footer-link a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 0.8em;

}

.footer-link a:hover{
    color: grey;
}

@media screen and (max-width: 600px) {
.footer{
    font-size: 0.8em;
}
.footer-link a {
   
    font-size: 0.5em;

}
}

