.score{
    color:white;
}
.game-area {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
  justify-items: stretch;
  border: 3px solid white;
  border-radius: 20px;
  padding: 25px 50px 25px 50px;
  background-color: rgba(0,0,0,0.7);
  margin-top:-80px;
}


@media screen and (min-width: 1235px) {
  .game-area {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    justify-items: stretch;
   
    
    margin-top:-80px;
    
  }

}

@media screen and (max-width: 1005px) {

.game-area {
  width: 85%;
  grid-template-columns: repeat(4, 1fr);
}

}

@media screen and (max-width: 600px) {

  .game-area {
    width: 60%;
    grid-template-columns: repeat(3, 1fr);
  }
  
  }

