.splash-container {
    border: 3px solid white;
    border-radius: 10px;
    margin: 0 auto;
    width: 80%;
    padding: 1em 1em 1em 1.5em;  
    height: auto;   
    background-color: rgba(0,0,0,0.75);
}


.footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
